body
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background: black;
    color: white;
    gap: 30px;
    
}
header
{
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0.25) ;
}   
.navbar
{
    padding-bottom: 1%;
    padding-top: 1%;
}
.navbar:hover
{
    border-bottom: 4px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
}
a
{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover
{
    color: rgba(255, 255, 255, 0.25);
}
.container
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.img-logo
{
    margin: 0;
    text-align: center;
    justify-content: center;
}
